flask
pandas
numpy
nltk
scipy
pickle-mixin
gensim
pytest
pytest-cov
keras
tensorflow
spacy
treelib
anytree
pyyaml
h5py
requests
beautifulsoup4
scikit-learn
matplotlib
sqlalchemy
seaborn
shap
ipython
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
